html, body {
  width: 100%;
  height: 105%;
  margin: 0;
  padding: 0;
  background-color: rgb(249, 252, 255);
  font-family: "M PLUS Rounded 1c", sans-serif;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

/* 上部バー */
#ue {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: hsl(211, 100%, 95%);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  padding: 16px 0;
}

#ue h1 {
  text-align: center;
  font-size: 6vw;
  margin: 0;
  font-family: "Kokoro";
}

/* 下部バー */

#shita {
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 -4px 8px -2px rgba(0, 0, 0, 0.2);
  padding: 12px 0;
  text-align: center;
}

#shita p {
  margin: 0;
  font-size: 3vw;
  color: #555;
}

/* メイン全体 */
.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main{
    margin-top: 5vh;
    margin-bottom: 2vh;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    background-color: rgb(255, 255, 255);
    padding:20px 5% 20px 5%;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
}

#topbackbutton{
    padding: 8px;
    font-size: 20px;
    background-color: rgb(246, 246, 246);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 3px #828282;
    color: black;
    font-family: "M PLUS Rounded 1c";
}

#topbackbutton:hover{
    background-color:rgb(203, 203, 203);
}

#draggable {
  width: auto;
  height: 10vh;
  background: none;
  position:fixed;
  top: 20%;
  left: 80%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  touch-action: none;
  cursor: grab;
  z-index: 9999;
  animation: jump 2.0s ease-in-out infinite;
}

@keyframes jump {
  0%   { transform: translateY(1vh); }
  50%  { transform: translateY(-1vh); } /* 少し上にふわっと浮く */
  100% { transform: translateY(1vh); }
}