html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(249, 252, 255);
  font-family: "M PLUS Rounded 1c", sans-serif;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

/* 上部バー */
#ue {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: hsl(211, 100%, 95%);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  padding: 16px 0;
}

#ue h1 {
  text-align: center;
  font-size: 6vw;
  margin: 0;
  font-family: "Kokoro";
}

/* 下部バー */

#shita {
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 -4px 8px -2px rgba(0, 0, 0, 0.2);
  padding: 12px 0;
  text-align: center;
}

#shita p {
  margin: 0;
  font-size: 3vw;
  color: #555;
}

/* メイン全体 */
.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* メインボックス */
#main {
  margin-top: 80px;  /* #ueの高さに応じて調整 */
  margin-bottom: 60px; /* #shitaの高さに応じて調整 */
  background-color: #fff;
  padding: 5vw;
  border-radius: 12px;
  border: 2px solid rgb(0, 0, 0);
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* 対戦開始ボタン */
#start {
  padding: 14px 20px;
  font-size: 5vw;
  color: white;
  background-color: brown;
  border-radius: 10px;
  border: none;
  width: 100%;
  font-family: "M PLUS Rounded 1c";
}

#start:hover {
  background-color: rgb(203, 33, 33);
}

/* ルールボタン */
#rule {
  color: black;
  margin-top: 30px;
  background-color: rgb(252, 237, 189);
  border: none;
  padding: 14px 20px;
  border-radius: 10px;
  font-size: 5vw;
  width: 100%;
  font-family: "M PLUS Rounded 1c";
}

#rule:hover {
  background-color: rgb(255, 224, 121);
}


#logout{
  color: black;
  margin:0;
  padding:0.4vw 0.8vw;
  background-color: rgb(255, 255, 255);
  border: none;
  box-shadow: 0 0 0.2vw 0.2vw rgba(0, 0, 0, 0.1);
  border-radius: 1.3vw;
  font-size: 2vw;
}